#main_container {
    width: 500px;
    height: 500px;
    background-color:blue
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5,100px);
    grid-template-rows: repeat(5,100px);
}

#main_container > div {
    border-radius: 3px;
    border: 2px solid
    grid-column: 3 / 4;
   